.cart{
    padding:8px;
    font-size:12px;
    text-align:center;
}
/* 
.fa-cart-shopping:before, .fa-shopping-cart:before {
    content: "\f07a";
    color:#ffffff!important;
}

.d-flex {
    display: flex!important;
    padding: 10px;
} */